
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Font-awesome
@import  "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select 2
@import "node_modules/select2/dist/css/select2";

// MD Bootstrap
@import "resources/assets/libs/MDB_3.4.0/sass/mdb";

// Dashicons
@import "dashicons.css";

html {
  @media only screen and (min-width: $large-screen) {
    font-size: 16px;
  }
}

.side-nav {
  position: fixed;
  width: 240px;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  color: #fff;
  &.right-aligned {
    right: 100%;
    left: auto;
  }

  .collapsible {
    margin: 0;
    & > li {
      padding-right: 1rem;
      padding-left: 1rem;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
    }

    a {
      margin-bottom: 5px;
      color: #fff;
      font-weight: 300;
      font-size: 0.9rem;
      height: 45px;
      line-height: 45px;
    }

    a.active {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
    }

    a:hover {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
    }

    .fa {
      font-size: 1.2rem;
      margin-right: 13px;
    }
  }

  .collapsible-body {
    a {
      padding-left: 30px;
      height: 45px;
      line-height: 45px;
    }
  }

  a {
    display: block;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
  }

  .logo-wrapper {
    height: 140px;
  }

  .logo-wrapper {
    a {
      height: 140px;
      width: 240px;
      padding: 0;
    }

    img {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20%;
      padding-bottom: 20%;
    }
  }

  @media (max-height: 910px) {
    .logo-wrapper {
      height: 80px;
    }
    .logo-wrapper a {
      height: 80px;
    }
    .logo-wrapper img {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 7%;
      padding-bottom: 7%;
    }
  }

  .about {
    padding: 1rem;
    border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
  }

  .about p {
    margin-bottom: 0;
    text-align: center;
  }

  .social {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    a {
      padding: 0;
      margin: 0;
      padding-right: 0.6rem;
      padding-left: 0.6rem;
    }
  }

  .search-form {
    padding: 0;
    ::-webkit-input-placeholder {
      color: #fff !important;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #fff !important;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff !important;
    }
    :-ms-input-placeholder {
      color: #fff !important;
    }
    input[type=text] {
      border-bottom: 1px solid #fff;
      font-weight: 300;
      padding-left: 30px;
    }
    .form-control {
      color: #fff;
    }
  }

  .user-box {
    padding: 20px 10px 0 10px;
    img {
      margin: 0 auto 10px auto;
      max-width: 80px;
    }
  }

  .fa-angle-down {
      &.rotate-icon {
      position: absolute;
      right: 0;
      top: 13px;
    }
  }
}

.side-nav {
  &.fixed {
    @media (max-width: 991px) {
      left: -250px;
    }
    position: fixed;
    &.right-aligned {
      right: 0;
      left: auto;
    }
  }
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  will-change: opacity;
}

.scrolling-navbar,
.double-nav {
  z-index: 100;
}


.double-nav {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  min-height: initial;
  a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  }
  .dropdown {
    .dropdown-menu {
      a {
        padding: 1rem;
        color: #616161;
      }
    }
  }
  .breadcrumb-dn {
    float: left;
    p {
      margin: 0;
      padding-top: .5em;
      padding-left: 1rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.3;
    }
  }
  .button-collapse {
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 1.5rem;
  }
  @media only screen and (min-width: 1440px) {
    .button-collapse {
      display: none;
    }
  }
  @media only screen and (max-width: 993px) {
    .breadcrumb-dn {
      display: none;
    }
  }
  @media only screen and (max-width: 992px) {
    .nav-icons {
      li {
        a {
          font-size: 0.7rem;
          margin-right: 3px;
          .fa {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .nav-counter {
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
    background-color: red;
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    z-index: 222;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    border-radius: 10rem;
  }
  .nav-icons {
    padding: 0;
    margin: 0;
    text-align: right;
    li {
      display: inline-block;
      text-align: center;
      a {
        color: #fff;
        font-size: 0.7rem;
        margin-right: 3px;
        .fa {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.navbar {
  padding: .5rem 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .nav-item {
    &.avatar {
      padding: 0;
      &.active {
        background-color: transparent !important;
      }
      .dropdown-toggle {
        padding: 0;
        img {
          height: 35px;
        }
      }
      .dropdown-toggle
      .dropdown-toggle:after {
        display: none;
      }
    }
    .nav-link .fa {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
    &.top-nav-collapse {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .navbar-nav > li {
      transition-duration: 1s;
    }
  }
}

@media only screen and (max-width: 992px) {
  .double-nav {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .double-nav {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    .navbar-desktop {
      display: none;
    }
  }
}

.navbar-toggleable-md .navbar-nav .nav-link {
  padding: .5rem;
}

@media (max-width: 991px) {
  .navbar .button-collapse {
    display: block;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.header-breadcrumb {
  padding-top: .425rem;
  padding-bottom: .425rem;
  font-size: 15px;
  .breadcrumb-item {
    &.active {
    color: #fff;
    }
  }
  .breadcrumb-item:before {
    color: #fff;
  }
}


.white-skin {
  /* Select colors */
  .gradient {
    background: #999999 !important;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #999999 0%, #fff 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #999999 0%, #fff 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #999999 0%, #fff 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .primary-color {
    background-color: #4285F4 !important;
  }
  .navbar {
    color: #424242;
    background-color: #fff;
    .navbar-nav {
      .nav-item {
        a {
          font-size: 15px;
          line-height: 21.5px;
        }
        .dropdown-menu {
          a:hover,
          a:focus,
          a:active {
            background-color: #2a75f3;
          }
        }
      }
    }
    a:not(.dropdown-item) {
      color: #424242 !important;
    }
    .form-control {
      border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
      color: #424242;
      ::-webkit-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      :-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      ::-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      ::-ms-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      ::-webkit-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      ::-moz-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      :-ms-input-placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }
      ::placeholder {
        color: rgba(66, 66, 66, 0.5) !important;
      }

    }
  }

  .page-footer {
    background-color: #797979;
  }

  .double-nav {
    a {
      color: #424242;
    }
  }

  .side-nav {
    background-color: #F9F9F9;
    color: #424242;
    .logo-wrapper > div {
      background-color: transparent !important;
    }
    .social a:hover .fa {
      color: #4285F4;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      transition: all 0.3s linear;
    }
    .search-form {
      input[type="text"] {
        &.form-control {
          border-bottom: 1px solid rgba(153, 153, 153, 0.298039);
          color: #424242;
          ::-webkit-input-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          :-moz-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          ::-moz-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          ::-ms-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          ::-webkit-input-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          ::-moz-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          :-ms-input-placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
          ::placeholder {
            color: rgba(66, 66, 66, 0.5) !important;
          }
        }
      }
    }
    .collapsible {
      li {
        background-color: transparent;
        a {
          font-weight: 400;
          color: #424242;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          transition: all 0.3s linear;
          :hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
          &.active {
            font-weight: 500;
            color: #4285F4;
            .fa {
              color: #4285F4;
              -webkit-transition: color 0.3s linear;
              -moz-transition: color 0.3s linear;
              -o-transition: color 0.3s linear;
              -ms-transition: color 0.3s linear;
              transition: color 0.3s linear;
            }
          }
        }
      }
      .fa {
        color: #424242;
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        -o-transition: color 0.3s linear;
        -ms-transition: color 0.3s linear;
        transition: color 0.3s linear;
      }
    }
  }

  .btn-primary {
    background: #4285F4;
    :hover,
    :focus {
      background-color: #5a95f5 !important;
    }
    &.active {
      background-color: #0b51c5 !important;
    }
  }

  .btn-secondary {
    background: #D25048;
    :hover,
    :focus {
      background-color: #d7645c !important;
    }
    &.active {
      background-color: #902a24 !important;
    }
  }

  input[type="email"]:focus:not([readonly]),
  input[type="text"]:focus:not([readonly]),
  input[type="password"]:focus:not([readonly]),
  textarea.md-textarea:focus:not([readonly]) {
    border-color: #4285F4;
    box-shadow: 0 1px 0 0 #4285F4;
  }

  input[type="email"]:focus:not([readonly]) + label,
  input[type="text"]:focus:not([readonly]) + label,
  input[type="password"]:focus:not([readonly]) + label,
  textarea.md-textarea:focus:not([readonly]) + label {
    color: #4285F4;
  }

  input[type=checkbox] {
    :checked + label:before {
      border-right: 2px solid #4285F4;
      border-bottom: 2px solid #4285F4;
    }
    &.filled-in:checked + label:before {
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
    &.filled-in:checked + label:after {
      background-color: #4285F4;
      border-color: #4285F4;
    }
  }

  .md-form .prefix.active {
    color: #4285F4;
  }

  .dropdown-content li:not(.disabled) span {
    color: #4285F4;
  }

  .top-nav-collapse {
    background-color: #fff;
  }

  .carousel-multi-item .controls-top > a,
  .carousel-multi-item .carousel-indicators li,
  .carousel-multi-item .carousel-indicators li.active {
    background-color: #4285F4;
  }

  .form-header,
  .card-header {
    background-color: #4c8bf5;
  }

  .spinner-primary {
    border-color: #4285F4;
  }

  .spinner-primary-color,
  .spinner-primary-color-only {
    border-color: #4285F4;
  }

  .pagination-primary-color .page-item.active .page-link,
  .pagination-primary-color .page-item.active .page-link:focus,
  .pagination-primary-color .page-item.active .page-link:hover {
    color: #fff;
    background-color: #4285F4;
    border-color: #4285F4;
  }

  .pagination-primary-color .page-link {
    color: #4285F4;
  }
}

.fixed-sn main {
  padding-top: 5.5rem;
}

@media (min-width: 768px) {
  .fixed-sn main {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 991px) {
  .fixed-sn .double-nav,
  .fixed-sn main,
  .fixed-sn footer {
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .fixed-sn .double-nav,
  .fixed-sn main,
  .fixed-sn footer {
    padding-left: 240px;
  }

  .fixed-sn main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1400px) {
  .fixed-sn main {
    margin-left: 6%;
    margin-right: 6%;
  }
}

/* SELECT2 */
.md-select2 {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem + 15px);
}

.select2-container {
  border-bottom: 1px solid #9e9e9e;
  height: 3rem;
  margin: 0 0 15px 0;
}
// single select remove borders - no round corners
.select2-container--default .select2-selection--single {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: none;
  background-color: transparent;
  border-radius: 0;
  height: 100%;
}

.select2-container--open .select2-dropdown {
  top: -48px;

}

.select2-dropdown, .select2-dropdown--above {
  border-radius: 0;
  padding: 1rem;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #eee;
  color: rgba(0, 0, 0, .87);
}

.select2-results__option {
  color: #4285F4;
}

// multiple select remove borders - no round corners
.select2-container--default .select2-selection--multiple {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  border-radius: 0;
  height: 40px;
}

// single select remove focus
.select2-container *:focus {
  outline: none;
}
// multiple select remove focus
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 0;
}
// multiple select choices style
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #fff;
}
.select2-selection__choice__remove {
  color: #381fa8!important;
}

/* ETS */
.mb-r {
  margin-bottom: 3rem !important;
}

.side-nav {
  li,
  li:hover {
    background-color: transparent;
  }
}

.table > tbody + tbody {
  border-top: 10px solid #ddd;
}

.card-wrapper {
  &.has-footer {
    padding-bottom: 63px;
    .card-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .list-group {
    .list-group-item {
      .btn-floating {
        margin: 0 10px 0 0;
      }
    }
  }
}

.draggable li a {
  cursor: move;
}

.price del {
  font-weight: 300;
  color: #000000 !important;
}

.forget-logged-in-cashier-store {
  padding-left: 0 !important;
  color: #000;
}

#line_items .edit,
#line_items .refund {
  display: none;
}

/**
 * Helpers
 */
.no-left-pad {
  padding-left: 0 !important;
}

.no-right-pad {
  padding-right: 0 !important;
}

/**
 * select2 Product search results
 */
.select2-result-product,
.select2-result-customer {
  padding-top: 4px;
  padding-bottom: 3px;
}

.select2-result-product__image,
.select2-result-customer__image {
  float: left;
  width: 60px;
  margin-right: 10px;
}

.select2-result-product__meta,
.select2-result-customer__meta {
  margin-left: 70px;
}

.select2-result-product__title,
.select2-result-customer__title {
  word-wrap: break-word;
  line-height: 1.1;
  margin-bottom: 4px;
}

.select2-result-product__categories {
  font-size: 12px;
  margin-top: 4px;
}

.select2-result-product__sku,
.select2-result-product__stock,
.select2-result-product__price {
  display: inline-block;
  font-size: 12px;
}

.select2-result-product__sku,
.select2-result-product__stock {
  margin-right: 1em;
}

.material-icons.small {
  font-size: 87%;
  line-height: 87%;
}

/**
 * Charts
 */
.chart-legend {
  ul {
    li {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      span {
        color: #fff;
        font-size: 87%;
        padding: 4px 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
  }
}